body {
    background-color: #f1f2f6;
}

.welcome {
    background-image: url("../assets/green-pine-trees-covered-with-fogs-under-white-sky-during-167699.jpg");
    background-position: center;
    height: 100vh;
}

.welcome-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282c34;
}

.navbar-custom {
    position: fixed;
    top: 0;
    background-color: #282c34;
    color: #f1f2f6;
    font-weight: bold;
    width: 100%;
    z-index: 1;
}

.navbar-custom a {
    color: #f1f2f6;
}

.navbar-custom a:hover {
    background-color: #f1f2f6;
    color: #282c34;
}

.projects {
    padding-top: 30px;
    padding-bottom: 30px;
}

.project-tile {
    margin-bottom: 10px;
}

.project-tile {
    margin-top: 30px;
}

.project-tile a {
    color: #282c34;
    font-weight: bolder;
}

.contact {
    color: #f1f2f6;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #282c34;
}

.contact a {
    color: #f1f2f6;
}

textarea {
    resize: none;
}

.find-me {
    padding-top: 30px;
    padding-bottom: 30px;
}

.find-me ul{
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon{
    font-size: 28px;
    color: #282c34;
}

.modal-footer a {
    color: black;
}
