@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}

body {
    background-color: #f1f2f6;
}

.welcome {
    background-image: url("../assets/green-pine-trees-covered-with-fogs-under-white-sky-during-167699.jpg");
    background-position: center;
    height: 100vh;
}

.welcome-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282c34;
}

.navbar-custom {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
}

a {
    color: black;
}

.project-tile {
    margin: 5px;
}
