body {
    background-color: #ff2415;
    margin: 0;
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}

.welcome-section {
    background-color: aqua;
    height: 100vh;
}

.navbar {
    position: fixed;
    top: 0;
    background-color: gray;
}
