@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}

body {
    background-color: #f1f2f6;
}

.welcome {
    background-image: url("../assets/green-pine-trees-covered-with-fogs-under-white-sky-during-167699.jpg");
    background-position: center;
    height: 100vh;
}

.welcome-body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #282c34;
}

.navbar-custom {
    position: fixed;
    top: 0;
    background-color: #282c34;
    color: #f1f2f6;
    font-weight: bold;
    width: 100%;
}

.navbar-custom a {
    color: #f1f2f6;
}

.navbar-custom a:hover {
    background-color: #f1f2f6;
    color: #282c34;
}

.projects {
    margin-top: 30px;
}
.project-tile {
    margin-bottom: 10px;
}

.project-tile {
    margin-top: 30px;
}

.project-tile a {
    color: #282c34;
    font-weight: bolder;
}

.contact {
    color: #f1f2f6;
    margin-top: 30px;
    background-color: #282c34;
}

.contact a{
    color: #f1f2f6;
}

.modal-footer a{
    color: black;
}
