h1 {
    margin-block-start: 0;
    margin-block-end: 0;
}

@media (max-width: 800px) {
    body {
        background-color: blue;
    }
}

.welcome-section {
    background-color: aqua;
    height: 100vh;
}

.navbar-custom {
    position: fixed;
    top: 0;
    background-color: transparent;
    width: 100%;
}
